@media (prefers-color-scheme: dark) {
    :root[brighttext],
    :root[lwt-toolbar-field-focus-brighttext],
    :root[lwtheme],
    :root:not([lwtheme]) {
        --lwt-accent-color: #030615 !important; /* frame */
        --toolbar-bgcolor: #252836 !important; /* toolbar */
        --tab-selected-bgcolor: #484d65 !important; /* tab_selected */
        --toolbarbutton-hover-background: #484d65 !important; /* button_background_hover */
        --toolbar-field-focus-background-color: #252836 !important; /* toolbar_field_focus */
    }

    :root:not([style*="--lwt-additional-images"], [lwtheme-image]) {
        --toolbarbutton-icon-fill: #c7cdd0 !important; /* icons */
        --arrowpanel-background: #171b1f !important; /* popup */
    }
}

@media (prefers-color-scheme: light) {
    :root:not([lwtheme-brighttext="true"]),
    :root:not([lwt-toolbar-field-focus-brighttext]),
    :root[lwtheme],
    :root:not([lwtheme]) {
        --lwt-accent-color: #d0dbe3 !important; /* frame */
        --toolbar-bgcolor: #ffffff !important; /* toolbar */
        --tab-selected-bgcolor: #ffffff !important; /* tab_selected */
        --toolbarbutton-hover-background: #becfda !important; /* button_background_hover */
        --toolbar-field-focus-background-color: #e7edf1 !important; /* toolbar_field_focus */
    }

    :root:not([style*="--lwt-additional-images"], [lwtheme-image]) {
        --toolbarbutton-icon-fill: #372f4c !important; /*"icons": "#00dbfd"*/
        --arrowpanel-background: #eff3f5 !important; /*"popup": "#1c1b22Fa"*/
    }
}
