findbar {
    --findbar-pad: 10px;
    --fndbr-btn-wdt: 30px;
    --findbar-wdt: 50vw;

    position: fixed !important;
    z-index: 5 !important;

    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) !important;

    padding-top: 40px !important;
    height: 80px !important;
    width: var(--findbar-wdt);

    background-image: linear-gradient(
            var(--toolbar-bgcolor, transparent),
            var(--toolbar-bgcolor, transparent)
        ),
        linear-gradient(transparent, transparent),
        var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
    background-position:
        right bottom,
        right bottom,
        right center,
        left center !important;
    background-repeat: repeat, repeat, var(--lwt-background-tiling) !important;
    background-size: auto !important;
    box-shadow: none !important;
    color: var(--lwt-tab-text) !important;
    border: none !important;

    /* styles for input textbox */
    .findbar-textbox {
        position: absolute;
        top: var(--findbar-pad);
        left: var(--findbar-pad);
        width: calc(
            var(--findbar-wdt) - var(--findbar-pad) * 2.5 -
                var(--fndbr-btn-wdt) * 3
        ) !important;
        height: 22px !important;
    }

    /* put buttons to right place */
    .findbar-closebutton,
    .findbar-find-next,
    .findbar-find-previous {
        position: absolute;
        top: var(--findbar-pad);
        margin-inline-start: 0px !important;
        margin-inline-end: 0px !important;
    }

    .findbar-closebutton {
        right: var(--findbar-pad);
    }

    .findbar-find-next {
        right: calc(var(--fndbr-btn-wdt) + var(--findbar-pad) / 2);
    }

    .findbar-find-previous {
        right: calc(var(--fndbr-btn-wdt) * 2 + var(--findbar-pad) / 2);
    }

    /* rounded buttons */
    .findbar-textbox,
    .findbar-closebutton,
    .findbar-find-next,
    .findbar-find-previous {
        border-radius: 4px !important;
    }

    /* hide find status */
    .findbar-find-status {
        display: none;
    }
}

.findbar-find-status[status="notfound"] {
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.findbar-textbox {
    border-color: transparent !important;
    background-color: var(--toolbarbutton-hover-personal) !important;
}

.findbar-textbox:focus {
    border-color: var(--general-color) !important;
    background-color: var(--arrowpanel-background) !important;
}
