/* --------------- Icons -------------------*/

/* back button */
#nav-bar #back-button image {
    margin-left: 0px !important;
    list-style-image: url("../icons/back.svg") !important;
}

/* forward button */
#nav-bar #forward-button image {
    list-style-image: url("../icons/forward.svg") !important;
}

/* Reload button */
#reload-button {
    list-style-image: url("../icons/reload.svg") !important;
    animation: none !important;
}

/* stop button */
#stop-button {
    list-style-image: url("../icons/stop.svg") !important;
    animation: none !important;
}

/* home button*/
#home-button image {
    list-style-image: url("../icons/home.svg") !important;
}

/* padlock icon */
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    list-style-image: url("../icons/security.svg") !important;
}

/* permissions icon */
#permissions-granted-icon {
    list-style-image: url("../icons/permissions.svg") !important;
}

.desktop-notification-icon {
    list-style-image: url("../icons/notification.svg") !important;
}

/* reader mode */
#reader-mode-button > .urlbar-icon {
    list-style-image: url("../icons/read-mode.svg") !important;
}

/* Colored folders for bookmarks */
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon {
    height: 14px !important;
    width: 14px !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 1) > .toolbarbutton-icon {
    fill: var(--green) !important;
    list-style-image: url("../icons/folder1.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 2) > .toolbarbutton-icon {
    fill: var(--lightgreen) !important;
    list-style-image: url("../icons/folder2.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 3) > .toolbarbutton-icon {
    fill: var(--yellowbrown) !important;
    list-style-image: url("../icons/folder3.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 4) > .toolbarbutton-icon {
    fill: var(--orange) !important;
    list-style-image: url("../icons/folder4.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 5) > .toolbarbutton-icon {
    fill: var(--red) !important;
    list-style-image: url("../icons/folder5.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 6) > .toolbarbutton-icon {
    fill: var(--pink) !important;
    list-style-image: url("../icons/folder6.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 7) > .toolbarbutton-icon {
    fill: var(--purple) !important;
    list-style-image: url("../icons/folder7.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 8) > .toolbarbutton-icon {
    fill: #1b57fe !important;
    list-style-image: url("../icons/folder8.svg") !important;
}

#PlacesToolbarItems > .bookmark-item:nth-of-type(9n + 9) > .toolbarbutton-icon {
    fill: var(--lightblue) !important;
    list-style-image: url("../icons/folder9.svg") !important;
}

/* Folder for other bookmarks */
#OtherBookmarks > .toolbarbutton-icon {
    list-style-image: url("../icons/folder-otherbookmarks.svg") !important;
    fill: color-mix(
        in srgb,
        var(--button-active-bgcolor) 80%,
        var(--lwt-tab-text)
    ) !important;
}
